# ──────────────────────────────────────────────────────────────────────────────────────────────────
# ██╗ ██████╗  ███████╗         ███████╗ ██████╗  ██╗ ████████╗  ██████╗  ██████╗   ██████╗   ======
# ██║ ██╔══██╗ ██╔════╝   ██╗   ██╔════╝ ██╔══██╗ ██║ ╚══██╔══╝ ██╔═══██╗ ██╔══██╗ ██╔════╝   ======
# ██║ ██║  ██║ █████╗   ██████╗ █████╗   ██║  ██║ ██║    ██║    ██║   ██║ ██████╔╝ ╚█████╗    ======
# ██║ ██║  ██║ ██╔══╝   ╚═██╔═╝ ██╔══╝   ██║  ██║ ██║    ██║    ██║   ██║ ██╔══██╗  ╚═══██╗   ======
# ██║ ██████╔╝ ███████╗   ██║   ███████╗ ██████╔╝ ██║    ██║    ╚██████╔╝ ██║  ██║ ██████╔╝   ======
# ╚═╝ ╚═════╝  ╚══════╝   ╚═╝   ╚══════╝ ╚═════╝  ╚═╝    ╚═╝     ╚═════╝  ╚═╝  ╚═╝ ╚═════╝    ======
# ──────────────────────────────────────────────────────────────────────────────────────────────────

.idea/
.vs/
.vscode/
.vscode-test/
*.sublime-project
*.sublime-workspace
*.iml

# Dev files ========================================================================================

*.env
/*.bat
/*.sh

# Repo files =======================================================================================

_reference/
_scratch/
/docs/ # Until ready
/worktrees/

#  ██████╗ ██╗  ██╗ ██╗   ██╗ ███╗   ██╗ ███████╗ ████████╗     ====================================
# ██╔════╝ ██║ ██╔╝ ╚██╗ ██╔╝ ████╗  ██║ ██╔════╝ ╚══██╔══╝     ====================================
# ╚█████╗  █████╔╝   ╚████╔╝  ██╔██╗ ██║ █████╗      ██║        ====================================
#  ╚═══██╗ ██╔═██╗    ╚██╔╝   ██║╚██╗██║ ██╔══╝      ██║        ====================================
# ██████╔╝ ██║  ██╗    ██║    ██║ ╚████║ ███████╗    ██║        ====================================
# ╚═════╝  ╚═╝  ╚═╝    ╚═╝    ╚═╝  ╚═══╝ ╚══════╝    ╚═╝        ====================================
# ──────────────────────────────────────────────────────────────────────────────────────────────────

/AGENTS.md
/CLAUDE.md
/.claude/
/.codex/
.cursorrules

# Logs =============================================================================================

logs/
*.log
*.log.*

# - System Cruft Files =============================================================================

Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
*.lnk
*.swp
.DS_Store

# = Dotnet / CSharp Template Below =v=v=v===========================================================

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# DotCover is a Code Coverage Tool
*.dotCover

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# dotenv environment variables file
.env

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml
